# Ignore data folders
out/
out4/
out5/
out_old/
outputs/
creation_logs/
Data/

# Ignnore all output figures (for now)
# TODO: Fix this?
*.png

# Ignore temporary cmb power spectrum file used when making maps
# TODO: Change the method to not produce these files outside temp folders
cmb_spectrum.txt

# Ignore potentially large files and symlinks
wmap_assets/wmap_chains
wmap_assets/wmap_lcdm_mnu_wmap9_chains_v5
*.fits
*.tar.gz

# Ignore local system files
.vscode/
*/__pycache__/
__pycache__/
.DS_Store
*/.DS_Store
