# Ignore data folders
Data/Assets/Planck/*.fits
Data/Assets/WMAP
Data/Cache
Data/Datasets
creation_logs/

# Ignore potentially large files
*.fits
*.tar.gz

# Ignore local system files
.vscode/
*/__pycache__/
__pycache__/
.DS_Store
*/.DS_Store
