# Ignore data folders
creation_logs/
Logs/
Data/
outputs/
multirun/

# Ignore potentially large files
*.fits
*.tar.gz

# Ignore build files
build/
dist/
*.egg-info/
cmbml.egg-info/
cmbml/_build_info.py

# Ignore local system files
.vscode/
*/__pycache__/
__pycache__/
.DS_Store
*/.DS_Store

junk.*
junk*.*


